@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      &__image
        width: 100%
        height: 100%
        object-fit: cover
    &__slider
      width: 590px
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      &-group
        flex-basis: 100%
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: 45px
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 53px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__button
        &--prev
          left: 0px
          top: 172px
        &--next
          right: 0px
          top: 172px
      &__item
        max-width: 580px
  .activities
    padding: 32px 0 60px 0
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px
    &__title
      max-width: 160px
  .footer
    padding-top: 70px
    &__pay
      &-details
        justify-content: space-between
        margin-top: 60px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__input
      &-group
        flex-basis: 48%
    &__logo
      padding-top: 0
      width: 97px
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        margin-left: -54px
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__additional
      margin-left: -38px
      grid-column: span 2
    &__legal
      grid-column: span 2
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
      &-form
        padding-right: 40px
        grid-column: span 5
        grid-row: 4
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
  .modal
    &__form
      min-width: 250px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &-mobile
      position: fixed
      left: 0
      right: 0
      top: 0
      z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      max-height: 100vh
      overflow: scroll
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: content
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px

  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &:after, &:before
          display: none
      &__button
        top: 32px
        &--prev
          margin-left: -65px
          left: 50%
          transform: translate(-50%, 0)
        &--next
          margin-right: -65px
          right: 50%
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 60px
  .card
    width: 49%
    height: 255px
  .footer
    &__additional
      margin-left: 0
    &__social
      &-network
        margin-left: 0
        flex-wrap: wrap
    &__contact
      &-form
        padding-right: 0
    &__input
      &-group
        flex-basis: 100%
    &__pay
      &-details
        flex-direction: column
        align-items: start
    &__ul
      &-paylist
        margin-bottom: 10px
    &__legal
      justify-self: start
@media (max-width: 576px)
  .container
    width: 280px
  .stars
    margin-right: 20px
  .breadcrumb
    &-list
      padding: 12px 0
  .navbar
    &-top
      padding-top: 25px
  .logo
    width: 99px
  .map
    height: 170px
  .hotel
    padding-top: 6px
    padding-bottom: 0
    &-info
      margin-bottom: 30px
    &-right
      min-height: 403px
      margin-bottom: 38px
      &__description
        margin: 0
        padding-bottom: 0px
    &-slider
      margin-bottom: 20px
      height: 179px
  .newsletter
    padding: 62px 8px 88px 8px
    &__title
      margin-bottom: 37px
    &-title
      font-weight: 300
      font-size: 20px
      line-height: 25px
      &__strong
        font-weight: 600
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
  .reviews
    &-slider
      &__text
        text-align: left
      &__button
        &--prev
          margin-left: -90px
        &--next
          margin-right: -87px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
      text-align: center
      text-transform: uppercase
      margin-bottom: 43px
  .card
    width: 100%
  .footer
    &__pay
      &-details
        margin-top: 21px
    &__info
      order: 1
      flex-basis: 100%
      margin-bottom: 15px
    &__button
      order: 2
    &__title
      margin-top: 0
    &--mb-3
      margin-bottom: 24px
    &__message
      width: 280px
      margin-bottom: 14px
    &-wrapper
      grid-template-columns: 1fr
      grid-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-links
        margin-top: 20px
      &-network
        grid-row: 2
        grid-column: 1
        margin-top: 5px
    &__additional
      grid-row: 4
      grid-column: 1
    &__categories
      grid-row: 5
      grid-column: 1
      margin-top: -5px
    &__legal
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
        margin-top: 9px
  .activities
    padding-top: 12px
    padding-bottom: 46px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px

@media (min-width: 992px)
  .search
    &__button
      &:hover
        background-color: $hover
  .hotel
    &-info
      &__rating
        &:hover
          background-color: $hover
  .booking
    &__button
      &:hover
        background-color: $hover
  .subscribe
    &__button
      &:hover
        background-color: $hover
  .card
    &__button
      &:hover
        background-color: $hover
  .footer
    &__button
      &:hover
        background-color: $hover
  .navbar
    &-menu
      &__link
        &:hover
          color: $hover
  .booking
    &__number
      &:hover
        color: $hover
  .footer
    &__link
      &:hover
        color: $hover
  .button
    &__home
      &:hover
        background-color: $hover
